.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu .navbar li {
  display: inline-block;
  width: 94.873px;
  height: 32px;
  padding: 7px 8.673px 7px 7.03px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
}

.header .menu .navbar li a:hover {
  color: #4e46dd !important;
  font-weight: bold;
}

.header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.active {
  border-bottom: 2px solid #4e46dd;
}

.active a {
  color: #4e46dd !important;
}

.container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container .contents {
  padding-bottom: 30px;
}

.container .contents .tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contents .tab button {
  display: flex;
  width: 200px;
  height: 80px;
  padding: 48px 0px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.container .contents .tab button i {
  margin-right: 10px;
}

.select {
  border-radius: 20px;
  border: 2px solid var(--button, #4f46e5) !important;
  background: var(--Select, #f4f8ff);
}

.container .contents .tabcontents {
  border-radius: 20px;
  background: var(--Select, #f4f8ff);
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 80%;
  margin: 10px auto;
}

.container .contents .tabcontents .tabcontent {
  display: none;
  width: 55%;
}

.container .contents .tabcontents .tabcontent .form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .contents .tabcontents .tabcontent .form > div {
  display: flex;
  flex-direction: column;
}

.container .contents .tabcontents .tabcontent .form input,
select {
  width: 300px;
  border-radius: 2px;
  border: 1px solid var(--Neutral-5, #d9d9d9);
  background: var(--Neutral-1, #fff);
  padding: 5px 12px;
  margin-top: 5px;
}

.container .contents .tabcontents .action {
  width: 50%;
  display: flex;
  justify-content: end;
}

.container .contents .tabcontents .action button {
  border-radius: 20px;
  border: 1px solid var(--button, #4f46e5);
  background: var(--button, #4f46e5);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  color: white;
  padding: 4px 15px;
}

.container .contents .tabcontents .tabcontent .inputCus {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container .contents .tabcontents .tabcontent .inputCus .choose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.container .contents .tabcontents .tabcontent .linktopic {
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--Neutral-5, #d9d9d9);
  background: var(--Neutral-1, #fff);
  padding: 5px;
}

.footer {
  width: 99%;
  display: flex;
  justify-content: space-between;
}
